*{
	margin: 0px;
}

body{
	text-align: center;
	font-size: 200%;
	font-family: Helvetica, sans-serif;
}

#heading {
	background-color: #333D79FF;
	padding: 30px;
}
h1{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	width: 60%;
	margin: auto;
	color: #FAEBEFFF;
}

#functionalities{
	list-style: none;
	width: 800px;
	margin:auto;
	padding: 0px;
}
#functionalities li{
	background-color: #FAEBEFFF;
	margin: 30px;
	height: 50px;
	border-radius: 5px;

}
#functionalities li a{
	text-decoration: none;
	color: #333D79FF;
}

